{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--CSS CUSTOM-->
    <link rel="stylesheet" href="{% static 'goa.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="vacationplanner.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact us</a></li>
                

            </ul>
           
        </nav>
    </header>
    <main>
        <div class="main">
            <h1>Welcome to GOA!!</h1>
            <p>Goa, a state on India's West coast, is a former Portuguese colony with a rich history.
                 Spread over 3,700 km² with a population of approximately 1.4 million, Goa is small by Indian standards.
                It has a unique mix of Indian and Portuguese cultures and architecture that attracts an estimated 2.5 million
                visitors each year (including about 400,000 foreign tourists).
                Goa is blessed with waterfalls (Dudhsagar, Amboli, Mangeli, Dodamarg) and ghats. 
                Since the 1960s, Goa has been attracting a steady flow of visitors: first the hippies and returning expatriate Goans,
                 then the charter tourists (starting with the Germans in 1987), pilgrims visiting Catholic and Hindu shrines, 
                 those opting to settle in Goa as their home, people going for medical treatment, 
                 and a growing number who attend seminars and conferences in Goa.
            </p>
          
        </div>
        
    </main>
    <h1 class="ticket">!!Book your Ticket!!</h1>
    <div class="section">
        <div class="container">
            <!--<div class="booking-form-box">-->
                    <div class="radio-btn">
                        <input type="radio" class="btn" name="check" ><span>Roundtrip</span>
                        <input type="radio" class="btn" name="check"><span>One way</span>
                
                    </div>
            
                <div class="booking-form">
                    <label for="">Flying from</label>
                    <input type="text" class="form-control" placeholder="airport">
                    <label for="">Flying to</label>
                    <input type="text" class="form-control" placeholder="airport">
                    <div class="input-grp">
                        <label for="">Departing</label>
                        <input type="date" class="form-control select-date" >
                    </div>
                    <div class="input-grp">
                        <label for="">Returning</label>
                        <input type="date" class="form-control select-date" >
                    </div>
                    <div class="input-grp">
                        <label for="">Number of Adults</label>
                        <input type="number" class="form-control select-date" value="1">
                    </div>
                    <div class="input-grp">
                        <label for="">Number of children</label>
                        <input type="number" class="form-control select-date" value="0">
                    </div>
                    <div class="input-grp">
                        <label for="">Travel class</label>
                        <select name="" id="" class="custom-select">
                            <option value="1">Economy</option>
                            <option value="2">Business</option>
                        </select>
                    
                    </div>
                    <div class="input-grp">
                        <button type="button" class="btn btn-primary flight">
                            Submit
                        </button>
                    </div>
                </div>
            </div>>
        </div>
    </div>
</body>
</html>