{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFFERS</title>
    <!--CSS CUSTOM-->
    <link rel="stylesheet" href="{% static 'offers.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="vacationplanner.html">Home</a></li>
                <li><a target="_blank" href="aboutus.html">About Us</a></li>
                <li><a target="_blank" href="contactus.html">Contact Us</a></li>
              
                

            </ul>
           
        </nav>
    </header>
    <main>
        <div class="main">
            <h1>Our Offers and destination plans!!</h1>
        </div>
       
    </main>
    <h2 class="fdt">Travel the places!</h2>
    <section id="js-section">
        <div class="rectangle1">
            <div class="minirect1">
                <div class="another-rect1">
                    <h2 class="Hollywood"  >Los Angles</h2>
                   
                </div>
                
            </div>
            <div class="frame1">
                <a target="_blank" href="losangeles.html" style="color:black;"> BOOK NOW!</a>
            </div>
        </div>
       
        <div class="rectangle2">
            <div class="minirect2">
                <div class="another-rect2">
                    <h2 class="London">London</h2>
                </div>
               
                
            </div>
            <div class="frame2">
                <a target="_blank" href="london.html" style="color:black;"> BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle3">
            <div class="minirect3">
                <div class="another-rect3">
                    <h2 class="switzerland">Switzerland</h2>
                    
                </div>
                
            </div>
            <div class="frame3">
                <a target="_blank" href="Switzerland.html" style="color:black;"> BOOK NOW!</a>
            </div>
        </div>
        
      </section>
      <section>
        <div class="rectangle4">
            <div class="minirect4">
                <div class="another-rect4">
                    <h2 class="switzerland">Bali</h2>
                    
                </div>
                
            </div>
            <div class="frame4">
                <a target="_blank" href="bali.html" style="color:black;"> BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle5">
            <div class="minirect5">
                <div class="another-rect5">
                    <h2 class="switzerland">Machu Picchu</h2>
                    
                </div>
                
            </div>
            <div class="frame5">
                <a target="_blank" href="Machu.html" style="color:black;"> BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle6">
            <div class="minirect6">
                <div class="another-rect6">
                    <h2 class="switzerland">Goa</h2>
                    
                </div>
                
            </div>
            <div class="frame6">
                <a target="_blank" href="goa.html" style="color:black;"> BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle7">
            <div class="minirect7">
                <div class="another-rect7">
                    <h2 class="Hollywood">Paris</h2>
                   
                </div>
                
            </div>
            <div class="frame7">
                <a target="_blank" href="paris.html" style="color:black;"> BOOK NOW!</a>
            </div>
        </div>
       
        <div class="rectangle8">
            <div class="minirect8">
                <div class="another-rect8">
                    <h2 class="London">Dubai,UAE</h2>
                </div>
               
                
            </div>
            <div class="frame8">
                <a target="_blank" href="dubai.html" style="color:black;"> BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle9">
            <div class="minirect9">
                <div class="another-rect9">
                    <h2 class="switzerland">Rome</h2>
                    
                </div>
                
            </div>
            <div class="frame9">
                <a target="_blank" href="rome.html" style="color:black;"> BOOK NOW!</a>
            </div>
        </div>
        
      
        <div class="rectangle10">
            <div class="minirect10">
                <div class="another-rect10">
                    <h2 class="switzerland">Jaipur</h2>
                    
                </div>
                
            </div>
            <div class="frame10">
                <a target="_blank" href="jaipur.html" style="color:black;"> BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle11">
            <div class="minirect11">
                <div class="another-rect11">
                    <h2 class="switzerland">Tokyo</h2>
                    
                </div>
                
            </div>
            <div class="frame11">
                <a target="_blank" href="Tokyo.html" style="color:black;"> BOOK NOW!</a>
            </div>
            </div>
            
        </div>
        <div class="rectangle12">
            <div class="minirect12">
                <div class="another-rect12">
                    <h2 class="switzerland">Singapore</h2>
                    
                </div>
                
            </div>
            <div class="frame12">
                <a target="_blank" href="Singapore.html" style="color:black;"> BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle13">
            <div class="minirect13">
                <div class="another-rect13">
                    <h2 class="Hollywood">Greenland</h2>
                   
                </div>
                
            </div>
            <div class="frame13">
                <a target="_blank" href="Greenland.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
       
        <div class="rectangle14">
            <div class="minirect14">
                <div class="another-rect14">
                    <h2 class="London">Seoul,Korea</h2>
                </div>
               
                
            </div>
            <div class="frame14">
                <a target="_blank" href="Seoul.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle15">
            <div class="minirect15">
                <div class="another-rect15">
                    <h2 class="switzerland">Agra</h2>
                    
                </div>
                
            </div>
            <div class="frame15">
                <a target="_blank" href="Agra.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
        
     
        <div class="rectangle16">
            <div class="minirect16">
                <div class="another-rect16">
                    <h2 class="switzerland">Rishikesh</h2>
                    
                </div>
                
            </div>
            <div class="frame16">
                <a target="_blank" href="Rishikesh.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle17">
            <div class="minirect17">
                <div class="another-rect17">
                    <h2 class="switzerland">Varanasi</h2>
                    
                </div>
                
            </div>
            <div class="frame17">
                <a target="_blank" href="Varanasi.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle18">
            <div class="minirect18">
                <div class="another-rect18">
                    <h2 class="switzerland">Amritsar</h2>
                    
                </div>
                
            </div>
            <div class="frame18">
                <a target="_blank" href="Amritsar.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle19">
            <div class="minirect19">
                <div class="another-rect19">
                    <h2 class="Hollywood">Darjeeling</h2>
                   
                </div>
                
            </div>
            <div class="frame19">
                <a target="_blank" href="Darjeeling.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
       
        <div class="rectangle20">
            <div class="minirect20">
                <div class="another-rect20">
                    <h2 class="London">Shimla</h2>
                </div>
               
                
            </div>
            <div class="frame20">
                <a target="_blank" href="Shimla.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle21">
            <div class="minirect21">
                <div class="another-rect21">
                    <h2 class="switzerland">New Zealand</h2>
                    
                </div>
                
            </div>
            <div class="frame21">
                <a target="_blank" href="New Zealand.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
        
     
        <div class="rectangle22">
            <div class="minirect22">
                <div class="another-rect22">
                    <h2 class="switzerland">Kerala</h2>
                    
                </div>
                
            </div>
            <div class="frame22">
                <a target="_blank" href="Kerala.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle23">
            <div class="minirect23">
                <div class="another-rect23">
                    <h2 class="switzerland">Colorado</h2>
                    
                </div>
                
            </div>
            <div class="frame23">
                <a target="_blank" href="Colorado.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle24">
            <div class="minirect24">
                <div class="another-rect24">
                    <h2 class="switzerland">Tahiti</h2>
                    
                </div>
                
            </div>
            <div class="frame24">
                <a target="_blank" href="Tahiti.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle25">
            <div class="minirect25">
                <div class="another-rect25">
                    <h2 class="switzerland">Koh samui</h2>
                    
                </div>
                
            </div>
            <div class="frame25">
                <a target="_blank" href="Koh samui.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle26">
            <div class="minirect26">
                <div class="another-rect26">
                    <h2 class="switzerland">Edinbergh</h2>
                    
                </div>
                
            </div>
            <div class="frame26">
                <a target="_blank" href="Edinburgh.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
        <div class="rectangle27">
            <div class="minirect27">
                <div class="another-rect27">
                    <h2 class="switzerland">Manali</h2>
                    
                </div>
                
            </div>
            <div class="frame27">
                <a target="_blank" href="Manali.html" style="color: black;">BOOK NOW!</a>
            </div>
        </div>
       
            <div class="rectangle28">
                <div class="minirect28">
                    <div class="another-rect28">
                        <h2 class="switzerland">Budapest</h2>
                        
                    </div>
                    
                </div>
                <div class="frame28">
                    <a target="_blank" href="Budapest.html" style="color: black;">BOOK NOW!</a>
                </div>
            </div>
            <div class="rectangle29">
                <div class="minirect29">
                    <div class="another-rect29">
                        <h2 class="switzerland">Grand Canyon</h2>
                        
                    </div>
                    
                </div>
                <div class="frame29">
                    <a target="_blank" href="Grand Canyon.html" style="color: black;">BOOK NOW!</a>
                </div>
            </div>
            <div class="rectangle30">
                <div class="minirect30">
                    <div class="another-rect30">
                        <h2 class="switzerland">Whistler,Canada</h2>
                        
                    </div>
                    
                </div>
                <div class="frame30">
                    <a target="_blank" href="Whistler,Canada.html" style="color: black;">BOOK NOW!</a>
                </div>
            </div>>
            
       

    </section>
   <script>
    

   </script>
</body>
</html>