
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZtrip</title>
    <!--CSS CUSTOM-->
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    
</head>
<body>
    <header>
       
        <nav class="px-3  py-4 text-white ">
            
            <ul class="flex px-14 space-x-4 justify-end">
                <ul class="mx-2  hoho" ><a target="_blank" class="yy" href="offers.html">OFFERS</a></ul>
                <ul class="mx-2  hoho"><a target="_blank" class="yy" href="aboutus.html">About us</a></ul>
                <ul class="mx-2 hoho"><a target="_blank" class="yy" href="contactus.html">Contact us</a></ul>
                <ul class="mx-2  hoho">sign in</ul>
            </ul>
        </nav>
  </header> 
  <main>
    <div class="main">
        <h1>EZtrip</h1>
        <p>Tired of going through exhausting google searches
           looking for the best place to visit this summer?
           EZtrip is your one stop solution of vacation planning,
           where we show you the best places around the world
           to visit, with price offers you can't resist! 
        </p>
        <p>Check out some of the trendy vacation destinations below</p>
    </div>
   
  </main>
  <section>
    <div class="rectangle1">
        <h2 class="bynh">
            Book your next Holiday/trip
        </h2>
        <form class="form-inline" action="/action_page.php">
            <label for="text" class="dest">Destination:</label>
            <input type="text" id="text" placeholder="Enter Destination" name="text" class="txt">
            <label for="Date" class="date">Date:</label>
            <input type="date" id="date" name="date" class="datebaeyo">
            <button type="submit" class="booknow">Book Now</button>
        </form>
    </div>
  </section>
  <section>
  <h2 class="fdt">Featured International tours</h2>
</section>
  <section>
    <div class="rectangle2">
        <div class="minirect1">
            <div class="another-rect1">
                <h2 class="Hollywood">Los Angles</h2>
               
            </div>
            
        </div>
        <div class="frame1">
            <a target="_blank" href="losangeles.html" style="color:black;"> BOOK NOW!</a>
        </div>
    </div>
   
    <div class="rectangle3">
        <div class="minirect2">
            <div class="another-rect2">
                <h2 class="London">London</h2>
            </div>
           
            
        </div>
        <div class="frame2">
            <a target="_blank" href="london.html" style="color:black;"> BOOK NOW!</a>
        </div>
    </div>
    <div class="rectangle4">
        <div class="minirect3">
            <div class="another-rect3">
                <h2 class="switzerland">Switzerland</h2>
                
            </div>
            
        </div>
        <div class="frame3">
            <a target="_blank" href="Switzerland.html" style="color:black;"> BOOK NOW!</a>
        </div>
    </div>
    
  </section>
  <section>
    <div class="rectangle5">
        <div class="minirect4">
            <div class="another-rect4">
                <h2 class="switzerland">Bali</h2>
                
            </div>
            
        </div>
        <div class="frame4">
            <a target="_blank" href="bali.html" style="color:black;"> BOOK NOW!</a>
        </div>
    </div>
    <div class="rectangle6">
        <div class="minirect5">
            <div class="another-rect5">
                <h2 class="switzerland">Machu Picchu</h2>
                
            </div>
            
        </div>
        <div class="frame5">
            <a target="_blank" href="Machu.html" style="color:black;"> BOOK NOW!</a>
        </div>
    </div>
    <div class="rectangle7">
        <div class="minirect6">
            <div class="another-rect6">
                <h2 class="switzerland">Goa</h2>
                
            </div>
            
        </div>
        <div class="frame6">
            <a target="_blank" href="goa.html" style="color:black;"> BOOK NOW!</a>
        </div>
    </div>
  </section>

  <section>
    <div class="aboutus">
        <h1 class="abus">Why US?</h1>
         <pre class="huhuhu">
            <p style="padding-left: 1cm;">WE provide excellent service</p>
            <p style="padding-left: 1cm;">WE provide affordable packages</p>
            <p style="padding-left: 1cm;">WE provide great customer support</p>
            <p style="padding-left: 1cm;">WE provide great customer support</p>
           
         </pre>

    </div>

  </section>
  <section>
    <div class="holidays">
        HAPPY HOLIDAYS
    </div>
    <div class="info">
        for any queries contact:- dakshdeepanshu326@gmail.com
    </div>
    <div class="about-footer">
        <a target="_blank" href="aboutus.html"> About Us</a>
    </div>
    <div class="packages-footer">
        Packages
    </div>
    <div class="gallary-footer">
        Gallary
    </div>
    <div class="backtotop">
        backtotop
    </div>
</section>
    
</body>
</html>